{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    {% include '@EknowGdprPlugin/Shop/Account/_breadcrumb.html.twig' %}
{% endblock %}

{% block subcontent %}
  {% include '@EknowGdprPlugin/Shop/Account/_header.html.twig' %}
  {% if configCustomerExport == 1 %}
    <div class="ui segment">
      <h2 class="ui header">
          {{ 'eknow_gdpr_plugin.ui.gdpr_title_extract'|trans }}
          <div class="sub header">{{ 'eknow_gdpr_plugin.ui.gdpr_sub_title_extract'|trans }}</div>
      </h2>

      <div style="margin-top: 1rem; text-align: center; width: 100%">
        <a href="{{ path('eknow_gdpr_plugin_controller_export_personal') }}" class="eknow-export-data-personal ui icon labeled button blue" data-product-name="">
            <i class="icon warning"></i>
            {{ 'eknow_gdpr_plugin.ui.export-personal'|trans }}
        </a>
        <a href="{{ path('eknow_gdpr_plugin_controller_export_personal') }}" class="eknow-export-data-orders ui icon labeled button blue" data-product-name="">
            <i class="icon warning"></i>
            {{ 'eknow_gdpr_plugin.ui.export-orders'|trans }}
        </a>
      </div>
    </div>
  {% endif %}

  <div class="ui segment">
    <h2 class="ui header">
        {{ 'eknow_gdpr_plugin.ui.gdpr_title_remove'|trans }}
        <div class="sub header">{{ 'eknow_gdpr_plugin.ui.gdpr_sub_title_delete'|trans }}</div>
    </h2>
    <div style="margin-top: 1rem; text-align: center; width: 100%">
      {% if configCustomerCanDeleteIsAccount == 0 %}
        {{ 'eknow_gdpr_plugin.ui.delete_not_allowed'|trans }}
      {% else %}
        <a href="{{ path('eknow_gdpr_plugin_controller_delete') }}" class="eknow-remove-account ui icon labeled button red" data-product-name="">
            <i class="icon warning"></i>
            {{ 'eknow_gdpr_plugin.ui.remove_account'|trans }}
        </a>
      {% endif %}
    </div>
  </div>

{% endblock %}
